/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/ub.iml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/united_business.iml
/.idea/

/.env
/db.sqlite3
/logs.log


/static/
/g_config.py
/ubi.service
